.login-container-outer {
  min-height: 100vh;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(0, 100, 183), rgb(255,255,255));
}

.login-container-inner {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

/*
 * Specific styles of sign in component
 */
/*
 * General styles
 */

#inputUsername {
  margin-bottom: 10px;
}

.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/*
 * Card component
 */
.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 100%;
  margin: 0 auto 10px;
  display: block;
}

/*
 * Form styles
 */
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-username {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputUsername,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
  /*background-color: #4d90fe; */
  background-color: #0064b7;
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  cursor: pointer;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: #ffffff;
  color: #000000;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: transparent !important;
  color: #000000;
  font-weight: normal;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
}

img {
  max-width: 100%;
}

@media (min-width: 401px) {
  section#main {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 0 !important;
  }
}

@media (max-width: 400px) {
  section#main {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 0 !important;
  }
}

#container {
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  background-color: #E8E8E8;
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.navbar {
  margin-bottom: 0px !important;
  border-width: 0 0 1px 0;
  border-color: #000;
}

p.sub-head {
  font-size: 26pt;
  text-align: left;
  padding: 15px 5px;
}

.side-nav {
  padding-right: 0;
  margin-left: 5px;
  position: fixed;
  height: 100%;
  background-color: #000000;
  color: #FFFFFF;
  overflow: auto;
}

.header {
  font-size: 16pt;
  color: #FFFFFF;
  padding: 15px;
  background-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFFFFF;
  width: 100%;
}

.side-nav ul.navigation {
  background-color: #000000;
  margin-bottom: 0 !important;
  padding-left: 0;
}

.side-nav ul.navigation a {
  color: #FFFFFF;
}

.side-nav ul.navigation a li:hover  {
  background-color: #FFFFFF;
}

.side-nav ul.navigation a:hover  {
  color: #000000 !important;
  text-decoration: none;
}

.side-nav ul.navigation a li:hover i  {
  padding-right: 20px;
  -moz-transition: padding-right .3s ease-in;
  -o-transition: padding-right  .3s ease-in;
  -webkit-transition: padding-right  .3s ease-in;
  transition: padding-right  .3s ease-in;
}

.side-nav ul.navigation li {
  padding: 15px;
  list-style: none;
  font-size: 14pt;
}

.side-nav ul.navigation a li {
  cursor: pointer;
}

.side-nav ul.navigation li i {
  float: right;
  padding-top: 2px;
  -moz-transition: padding-right .3s ease-in;
  -o-transition: padding-right  .3s ease-in;
  -webkit-transition: padding-right  .3s ease-in;
  transition: padding-right  .3s ease-in;
}

#content {
  padding-left: 0 !important;
  display: table;
  height: 100vh;
  float: left;
}

.table-row {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

@media(min-width: 768px) {
  h1.initial-greeting,
  h1.content-heading {
    font-size: 68pt;
  }

  h1.content-heading {
    text-align: center;
  }
}

@media(max-width: 767px) {
  h1.initial-greeting,
  h1.content-heading {
    font-size: 36px;
    padding: 0 5px;
  }
}

.navbar {
  background-color: #000000;
}

.side-nav i {
  padding-left: 10px;
}

@media (max-width: 767px) {
  #content {
    margin-top: -100px;
    padding-top: 100px;
  }

  .table-row {
    padding-left: 15px;
  }
}

/*
 * Category specific css
 */

.admin-content {
  width: 100%;
  position: relative;
  margin-top: 10px;
  float: left;
}

@media(max-width: 767px) {
  .admin-content {
    padding-left: 15px;
  }
}

.control-icon-box {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 15px 5px;
  width: 100%;
  margin: 20px 0;
}

@media(min-width: 1300px) {
  .control-icon-box {
    font-size: 40px;
  }

  .control-icon-box i {
    font-size: 45px;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  .control-icon-box {
    font-size: 22px;
  }

  .control-icon-box i {
    font-size: 30px;
  }
}

@media (min-width: 501px) and (max-width: 991px) {
  .control-icon-box {
    font-size: 40px;
  }

  .control-icon-box i {
    font-size: 40px;
  }
}

@media(max-width: 500px) {
  .control-icon-box {
    font-size: 20px;
  }

  .control-icon-box i {
    font-size: 20px;
  }
}

/*
 * User management page specific css
 */

#usersTable {
  font-size: 12pt;
}

#usersTable .fa {
  font-size: 14pt;
}

#usersTable .amber {
  color: #d58512;
}

#usersTable .red {
  color: #ff0000;
}

/*
 * Time line settings specific css
 */

#time-line-settings {
  font-size: 14pt;
}

#time-line-settings a {
  cursor: pointer;
}

#time-line-settings .fa {
  font-size: 16pt;
}

#time-line-settings .green {
  color: #2ca02c;
}

#time-line-settings .red {
  color: #FF0000;
}

#time-line-settings .amber {
  color: #d58512;
}

p.description {
  font-size: 12pt;
  padding-top: 15px;
}

.red {
  color: #ff0000;
}

.green {
  color: #00AA00;
}