$RAD-border-color:                            #ff0000;
$RAD-color:                                   #ff0000;
$RAD-background-color:                        yellow;

$CAN-border-color:                            green;
$CAN-color:                                   green;
$CAN-background-color:                        #ffffff;

$HI-border-color:                             #000000;
$HI-color:                                    #000000;
$HI-background-color:                         orange;

$MI-border-color:                             #FFFFFF;
$MI-color:                                    #FFFFFF;
$MI-background-color:                         blue;

$timeline-event-cluster-border-color:         #000000;
$timeline-event-cluster-color:                red;
$timeline-event-cluster-background-color:     #ffffff;

.Radiology {
  border-color: $RAD-border-color !important;
  color: $RAD-color !important;
  background-color: $RAD-background-color !important;
}

.Cancer-Care {
  border-color: $CAN-border-color !important;
  color: $CAN-color !important;
  background-color: $CAN-background-color !important;
}

.Biochemistry {
  border-color: $HI-border-color !important;
  color: $HI-color !important;
  background-color: $HI-background-color !important;
}

.Microbiology {
  border-color: $MI-border-color !important;
  color: $MI-color !important;
  background-color: $MI-background-color !important;
}

div.timeline-event-cluster {
  border-color: $timeline-event-cluster-border-color !important;
  color: $timeline-event-cluster-color !important;
  background-color: $timeline-event-cluster-background-color !important;
}