.RAD {
  border-color: #ff0000 !important;
  color: #ff0000 !important;
  background-color: yellow !important;
}

.HM {
  border-color: green !important;
  color: green !important;
  background-color: #ffffff !important;
}

.CC {
  border-color: #000000 !important;
  color: #000000 !important;
  background-color: orange !important;
}